%form(action = "/admin/editItem/#{@profile.id}" method = "post" id = "edit")
  %input(type="hidden" name="_method" value="put")  
  %p
    %label Name
    %input(type = "text" name = "name" value="#{@profile.name}")
  %p
    %label Email
    %input(type = "text" name = "email" value="#{@profile.email}") 
  %p
    %label Write a description!
    %textarea(name = "description")
      = @profile.description
  %p
    %label Profile Image
    %img(src = "#{@profile.profileImgPath}")
    %input(type = "file" name = "profileImage") 
  %input(type = "submit" value = "Submit")
/ LEAVE THIS LINE HERE IF YOU DELETE THIS COMMENT IT WILL BREAK EVERYTHING