<!DOCTYPE html>
<html>
   <head>
      <meta charset='utf-8' />
      <title><%= SITE_TITLE %></title>
      <link rel='stylesheet' href='/style.css' type='text/css' media='screen' title='default style sheet'>
      <link rel='stylesheet' href='/reset.css' type='text/css' media='screen' title='default style sheet'>
      <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
   </head>
   <body>
      <div id="wrapper">
         <div id="header">
            <div class="topBar">
               <div class="headerWrapper">
                  <div id="logo">
                     <a href="http://beerbongsforworldpeace.com" title="Beerbongs for World Peace">Beerbongs For World Peace</a>    
                  </div>
                  <h1><%= SITE_HEADER %></h1>
               </div>
            </div>
            <div class="navBar">
               <div class="headerWrapper">
                  <ul class="links">
                     <li> 
                        <a href="/" alt="About Spread Peace With Us">About</a>
                     </li>
                     <li>
                        <a href="/team" alt="The Spread Peace With Us Team">Team</a>
                     </li>
                     <li>
                        <a href="/join" alt="Join the Spread Peace With Us Team">Join</a>                 
                     </li>
                     <li>
                        <a href="http://beerbongsforworldpeace.org/shop" alt="Buy a Beerbong from Beerbongs For World Peace">Buy</a>     
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div id="container">
				<div id="main">
					<%= yield %>
				</div>
            <div id="sidebar">
               <div id="counter">
                 <h2>Hungry Children Fed</h2>
                 <span class="counterNum"><%= @counter %></span>
              </div>
              <div id="leaderboard">
                 <h2>Leaderboard</h2>
                 <div id="sidebarProfileList">
                 <% @sidebarProfiles.each do |profile| %> 
                    <div class="profileRow">  
                       <div class="profileImg">
								  <a href="/team/<%= profile.id %>"><img src="<%= profile.profileImgPath %>" alt="Profile Picture" /></a>
                       </div>
                       <div class="profileInfo">
								  <h3><a href="/team/<%= profile.id %>"><%= profile.name %></a></h3>
                          <p class="childrenFed"><strong><%= profile.beerbong.childrenFed %></strong> Children Fed</p>
								  <p class="profileDescription"><%= profile.description %></p>
                       </div>   
							  <div class="group"></div>
                    </div>
                 <% end %>
                 </div>
              </div>
            </div>
            <div class="group"></div>
         </div>
      	<div class="group"></div>
      </div>
      <div id="footer">
        <div class="top"></div>
        <div class="bottom">
		     <p>&copy; Beerbongs For World Peace 2011 - Coded and Designed by <a href="http://www.timasp.com">Tim</a></p>
		  </div>
      </div>
   </body>
</html>
